#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	aliases {
		sw0 = &user_button;
		led0 = &blue_led;
	};

	chosen {
		zephyr,display = &st7789v;
		zephyr,flash-controller = &flash;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "espressif,xtensa-lx6";
			reg = <0>;
			clock-frequency = <240000000>;
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "espressif,xtensa-lx6";
			reg = <1>;
			clock-frequency = <240000000>;
		};
	};

	clock: clock {
		compatible = "espressif,esp32-clock";
		status = "okay";
		#clock-cells = <1>;
		fast-clk-src = <1>; 
		slow-clk-src = <0>;
	};

	leds {
		compatible = "gpio-leds";
		
		blue_led: led_0 {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};
	};

	buttons {
		compatible = "gpio-keys";
		user_button: button_0 {
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Boot Button";
		};
	};

	mipi_dbi_st7789v {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi3>;
		dc-gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		st7789v: st7789v@0 {
			compatible = "sitronix,st7789v";
			mipi-max-frequency = <20000000>;
			reg = <0>;
			width = <240>;
			height = <240>;
			x-offset = <0>;
			y-offset = <0>;

			/* Parâmetros obrigatórios exigidos pelo Zephyr 4.3.0 */
			vcom = <0x28>;
			gctrl = <0x35>;
			vrhs = <0x10>;
			vdvs = <0x20>;
			mdac = <0x08>;
			gamma = <0x01>;
			colmod = <0x55>;
			lcm = <0x0C>;

			/* Sequências de inicialização (Obrigatórias no binding atual) */
			porch-param = [0c 0c 00 33 33];
			cmd2en-param = [5a 69 02 01];
			pwctrl1-param = [a4 a1];
			pvgam-param = [d0 00 02 07 0a 28 32 44 42 06 0e 12 14 17];
			nvgam-param = [d0 00 02 07 0a 28 31 54 47 0e 1c 17 1b 1e];
			ram-param = [00 e0];
			rgb-param = [cd 08 14];

			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
		};
	};
};

&gpio0 { status = "okay"; };
&gpio1 { status = "okay"; };
&wdt1 { status = "okay"; };

&spi3 {
	status = "okay";
	pinctrl-0 = <&spim3_default>;
	pinctrl-names = "default";
};

&pinctrl {
	spim3_default: spim3_default {
		group1 {
			pinmux = <0x001fffd2>,
				 <0x0020ffd7>,
				 <0x00227fc5>;
		};
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		nvs_storage: partition@3f0000 {
			label = "nvs_storage";
			reg = <0x3f0000 0x00010000>;
		};
	};
};
