#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		zephyr,display = &ssd1306;
		zephyr,flash-controller = &flash;
	};

	cpus {
		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "espressif,riscv";
			reg = <0>;
			clock-frequency = <160000000>;
			xtal-freq = <40000000>;
		};
	};

	clock: clock {
		compatible = "espressif,esp32-clock";
		status = "okay";
		#clock-cells = <1>;
		fast-clk-src = <1>; 
		slow-clk-src = <0>;
	};
	
	aliases {
		sw0 = &user_button;
	};

	leds {
		compatible = "gpio-leds";
		
		blue_led: led_0 {
			gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};
	};

	buttons {
		compatible = "gpio-keys";
		user_button: button_0 {
			gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Boot Button";
		};
	};
};

&wdt1 {
    status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;

	ssd1306: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		status = "okay";
		reg = <0x3c>;
		width = <72>;
		height = <40>;
		segment-offset = <28>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <39>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};
};

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_GPIO5>, <I2C0_SCL_GPIO6>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        nvs_storage: partition@3f0000 {
		label = "nvs_storage";
		reg = <0x3f0000 0x00010000>;
	};
    };
};